div
  nav-bar
  div(class='container-fluid')
    div(class='row')    
      div(class='col bordered-container')
        h2 Server-side image rotation
        div(class='row')
          div(class='col-8')
            p. 
              The images below are shown in a synchronized, random order, orchestrated by the server. 
              Open a new window to confirm that the images shown are coordinated.
          div(class='col-4 text-right')
            a(ng-href="window.location.href", target="_blank")
              button(class='btn btn-primary', ng-click="openInNewTab()", type='button') Open in new tab
        div(class='col image-pane')
          div(class="image-block", ng-repeat="imgName in $model.imageList track by $index")
            img(ng-if="imgName=='wheat'", src=require('Assets/img/wheat.jpg'))
            img(ng-if="imgName=='aurora'", src=require('Assets/img/aurora.jpg'))
            img(ng-if="imgName=='field'", src=require('Assets/img/field.jpg'))
            img(ng-if="imgName=='horses'", src=require('Assets/img/horses.jpg'))
            img(ng-if="imgName=='skier'", src=require('Assets/img/skier.jpg'))
            img(ng-if="imgName=='ocean'", src=require('Assets/img/ocean.jpg'))
            img(ng-if="imgName=='plants'", src=require('Assets/img/plants.jpg'))
      div(class='col bordered-container')
        h2 Server Information
        table(class='table table-compact info-table')
          tr(ng-if='$model.$server.metrics.snapshotTime')            
            td(class='date', colspan="2") {{ $model.$server.metrics.snapshotTime | date:['medium']}}            
          tr(ng-if='$model.$server.metrics.numConnections')
            td Connections
            td(class='metric') {{ $model.$server.metrics.numConnections | number:0 }}
          tr(ng-if='$model.$server.metrics.totalMem')
            td Free memory
            td(class='metric') {{ 100 * $model.$server.metrics.freeMem / $model.$server.metrics.totalMem | number:0 }}%
          tr(ng-if='$model.$server.meta.pid')
            td Process ID
            td(class='metric') {{ $model.$server.meta.pid }}
